<footer>
        <p>Images courtesy of <a href="https://www.google.com/imghp?hl=EN">Google Images</a></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, veritatis!</p>
        <ul>
            <li><a href="https://www.facebook.com/Zimfittyres.zw"><i class="fab fa-facebook-square fa-2x"></i></a></li>
			<li><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
			<li><a href="#"><i class="fab fa-whatsapp-square fa-2x"></i></a></li>
        </ul>
    </footer>
</body>
</html>