<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zimfit Tyres</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
</head>
<body>
	
	<header>
		<h2><a href="/"><img id="zimfit" src="https://i.imgur.com/idoIS2T.png" alt=""></a></h2>
		<nav>
			<li><a href="/index">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/products">Products</a></li>
        </nav>
    </header>