<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zimfit Tyres - The Tyre Solution Center</title>
	<link rel="shortcut icon" type="image/png" href="https://i.imgur.com/idoIS2T.png?1">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/app.css">
	<link rel="stylesheet" href="/stylesheets/landing.css">
	<link rel="stylesheet" href="/stylesheets/products.css">
	<link rel="stylesheet" href="/stylesheets/contacts.css">
	<link rel="stylesheet" href="/stylesheets/services.css">
</head>
<body>
	
	<header>
		<nav>
			<div>
				<a href="/"><img class="zimfit" src="https://i.imgur.com/aq1yajA.png" alt=""></a>
			</div>
			<ul class="nav-links">
				<li><a href="/home"><strong>Home</strong></a></li>
				<li><a href="/products"><strong>Products</strong></a></li>
				<li><a href="/services"><strong>Services</strong></a></li>
				<li><a href="/contact"><strong>Contact Us</strong></a></li>
			</ul>
			<div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        </nav>
    </header>