<%- include("partials/header")%>

<section class="contact">
	<h3 class="title"><i class="fas fa-map-marker-alt"></i> Our Locations</h3>
	
	<p>Visit us for on spot repairs, wheel and tyre service. Our dedicated and professional staff is always ready to assist.</p>
	<div class="container">
		<div>
			<img src="https://i.imgur.com/xYCoCjC.jpg">
			<p class="contact-info">Montague shopping center, Harare<br>
				Contact Person: <strong>Simba</strong><br>
				Tel Number: +263778763763</p>
		</div>
		<div>
			<img src="https://i.imgur.com/riPYLTM.jpg">
			<p>11 Martin Drive Msasa Harare<br>
				Contact Person: <strong>Langdon</strong><br>
				Tel Number: +263776783490</p>
		</div>
		<div>
			<img src="https://i.imgur.com/C2thYi3.jpg">
			<p>64 Robert Mugabe Road, Bulawayo<br>
				Contact Person: <strong>Clayton</strong><br>
				Tel Number: +263774512666</p>
		</div>
	</div>
	
	<hr>
	
	<h3 class="title">Operating Hours</h3>
	<p>Our operating times are:</p>
	<p><strong>Monday - Friday</strong> 08h00 to 16h00</p>
	<p><strong>Saturday</strong> 08h00 to 13h00</p>
	<p><strong>Sunday</strong> closed</p>
	
</section>

<%- include("partials/footer")%>