<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zimfit Tyres</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <header>
        <h2><a href="#">ZIMFIT Tyre</a></h2>
		<nav>
            <li><a href="#">Services</a></li>
            <li><a href="#">Catalogues</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </nav>
    </header>

    <section class="hero">
        <div class="background-image" style="background-image: url(https://wallpapercave.com/wp/wp2099572.jpg); opacity: 0.95;"></div>
        <div class="hero-content-area">
            <h1><img id="logo" src="https://i.imgur.com/idoIS2T.png" title="source: imgur.com" /></h1>
            <h3>Best Tyre and Car Servicing The Country Has To Offer</h3>
			<a href="#" class="btn">Contact Us</a>
        </div>
    </section>

    <section class="services">
        <h3 class="title">Some services we offer:</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quod id accusantium tenetur quibusdam quo dicta magnam amet, error inventore iste ipsum magni praesentium ipsam eveniet est? Ex ad quisquam saepe delectus quibusdam incidunt laboriosam quae dolorum quaerat! Error, saepe?</p>
        <hr>

        <ul class="grid">
            <li class="small" style="background-image: url(https://loreblogs.com/wp-content/uploads/2020/01/Car-Needs-Suspension-Repair.jpg);"></li>
            <li class="small" style="background-image: url(https://martin-bike.com/wp-content/uploads/2020/03/Car-Servicing-1280x720.jpg);"></li>
            <li class="small" style="background-image: url(https://sc01.alicdn.com/kf/HTB1._cGchiH3KVjSZPfq6xBiVXaT.jpg_350x350.jpg);"></li>
            <li class="small" style="background-image: url(https://randsautomotivecenter.com/wp-content/uploads/2016/08/ThinkstockPhotos-478103993.jpg);"></li>
            <li class="small" style="background-image: url(https://www.mytyreshop.com/wp-content/uploads/2019/05/wheel-balance.jpg);"></li>
            <li class="small" style="background-image: url(https://www.tyre.co.zw/wp-content/uploads/2020/03/wheel_alignment.png);"></li>
        </ul>
    </section>

    <section class="packages">
        <h3 class="title">Service Packages</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio assumenda obcaecati voluptatem deserunt vel voluptates quidem accusantium! Fugit blanditiis reiciendis, at soluta necessitatibus esse tenetur doloribus sit aut nesciunt dolore?</p>
        <hr>

        <ul class="grid">
            <li>
                <h4>Suspension Repairs</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minus adipisci repellat eaque consectetur ducimus id earum consequuntur molestiae magnam! Ab fuga molestiae eos sequi.</p>
            </li>
            <li>
                <h4>Vehicle Servicing</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minus adipisci repellat eaque consectetur ducimus id earum consequuntur molestiae magnam! Ab fuga molestiae eos sequi.</p>
            </li>
            <li>
                <h4>Brake Work</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minus adipisci repellat eaque consectetur ducimus id earum consequuntur molestiae magnam! Ab fuga molestiae eos sequi.</p>
            </li>
            <li>
                <h4>Tyre Fitting and Balancing</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minus adipisci repellat eaque consectetur ducimus id earum consequuntur molestiae magnam! Ab fuga molestiae eos sequi.</p>
            </li>
            <li>
                <h4>Wheel Alignment</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minus adipisci repellat eaque consectetur ducimus id earum consequuntur molestiae magnam! Ab fuga molestiae eos sequi.</p>
            </li>
            <li>
                <h4>Tyre and Battery Sales</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minus adipisci repellat eaque consectetur ducimus id earum consequuntur molestiae magnam! Ab fuga molestiae eos sequi.</p>
            </li>
        </ul>
    </section>

    <section class="contact">
        <h3 class="title">Learn More</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti fuga necessitatibus ipsa excepturi fugit minima possimus officia repellendus asperiores soluta? Accusantium, pariatur sapiente error ducimus totam veritatis. Recusandae, praesentium ex.</p>
        <hr>
        <p>Contact: <strong>Langton Madondo</strong></p>
        <p><i class="fa fa-phone"></i> Cell: <strong>+263 776 783 490</strong></p>
    </section>

    <footer>
        <p>Images courtesy of <a href="https://www.google.com/imghp?hl=EN">Google Images</a></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, veritatis!</p>
        <ul>
            <li><a href="https://www.facebook.com/Zimfittyres.zw"><i class="fa fa-facebook-square"></i></a></li>
        </ul>
    </footer>
</body>
</html>