<%- include("partials/header")%>

<nav class="navbar navbar-dark bg-dark">
	<div class="container">
		<a href="#" class="navbar-brand"><i class="fas fa-cog"></i>  Tyre Catalogue</a>
	</div>
</nav>

<section id="header" class="jumbotron jumbotron-fluid text-center" >
	<div class="container">
		<h1 class="display-4">Catalogue!</h1>
		  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim. Massa sed elementum tempus egestas sed sed risus pretium quam. Purus gravida quis blandit turpis cursus in hac habitasse platea.</p>
	</div>
</section>

<section id="gallery">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="card text-center">
					<img src="https://sc01.alicdn.com/kf/UTB87hlQIarFXKJk43Ovq6ybnpXa5.jpg" alt="" class="card-img-top">
					<div>
						<div class="card-body">
                            <h5 class="card-title"><strong>First Product</strong></h5>
                            <p class="card-text">Tyre Size: </p>
							<p class="card-text">Price: </p>
                            <a href="#" class="btn btn-outline-info btn-sm">More Info</a>
                        </div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card text-center">
					<img src="https://sc01.alicdn.com/kf/UTB87hlQIarFXKJk43Ovq6ybnpXa5.jpg" alt="" class="card-img-top">
					<div>
						<div class="card-body">
                            <h5 class="card-title"><strong>First Product</strong></h5>
                            <p class="card-text">Tyre Size: </p>
							<p class="card-text">Price: </p>
                            <a href="#" class="btn btn-outline-info btn-sm">More Info</a>
                        </div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card text-center">
					<img src="https://sc01.alicdn.com/kf/UTB87hlQIarFXKJk43Ovq6ybnpXa5.jpg" alt="" class="card-img-top">
					<div>
						<div class="card-body">
                            <h5 class="card-title"><strong>First Product</strong></h5>
                            <p class="card-text">Tyre Size: </p>
							<p class="card-text">Price: </p>
                            <a href="#" class="btn btn-outline-info btn-sm">More Info</a>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include("partials/footer")%>