<%- include("partials/header")%>

<section class="services">
        <h3 class="title">Our Commitment</h3>
        <p>We aim to answer as many of the customers requirements with in our basket of services and products aswell as a well prices experience. Our aim is to earn your trust and a return visit for any other vehicle repair requirements. We are open to suggestions, queries and emergencies from you the customer and aim to fullfill what we are able to.</p>
        <hr>

        <ul class="grid">
            <li class="small" style="background-image: url(https://i.imgur.com/tXsuEYv.jpg);"></li>
            <li class="small" style="background-image: url(https://i.imgur.com/cCnfgvR.jpg);"></li>
            <li class="small" style="background-image: url(https://i.imgur.com/Q9pYrrr.jpg);"></li>
            <li class="small" style="background-image: url(https://i.imgur.com/3ofQXqX.jpg);"></li>
			
</section>
	
	<section class="services">
        <h3 class="title">Our Vision </h3>
        <p>1/ Our small yet effective team will aim to fullfill your request on your vehicles needs. We will be growing together as a team with your support keeping ourselves approachable aswell as a personalized service that will remain in your memory of our company.</p>

        <hr>

        <ul class="grid">
            <li class="small" style="background-image: url(https://i.imgur.com/Kk5i6BU.jpg);"></li>
            <li class="small" style="background-image: url(https://i.imgur.com/Ti1WrKR.jpg);"></li>
            <li class="small" style="background-image: url(https://i.imgur.com/5M0CAKL.jpg);"></li>
			
</section>
		
		<section class="services">
        <h3 class="title">Our Goal</h3>
        <p> To offer you a country wide service in the future so we may have you covered country wide. To keep you and your families safe of these roads with the best quality for your pocket with the customer support you deserve.</p>

        <hr>

        <ul class="grid">
            <li class="small" style="background-image: url(https://i.imgur.com/7N6eFSt.jpg);"></li>
            <li class="small" style="background-image: url(https://i.imgur.com/3ofQXqX.jpg);"></li>
</section>
		
		

       <!--     <li class="small" style="background-image: url(https://www.mytyreshop.com/wp-content/uploads/2019/05/wheel-balance.jpg);"></li>
            <li class="small" style="background-image: url(https://www.tyre.co.zw/wp-content/uploads/2020/03/wheel_alignment.png);"></li>
        </ul>
    </section>

    <section class="packages">
        <h3 class="title">Service Packages</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio assumenda obcaecati voluptatem deserunt vel voluptates quidem accusantium! Fugit blanditiis reiciendis, at soluta necessitatibus esse tenetur doloribus sit aut nesciunt dolore?</p>
        <hr>

        <ul class="grid">
            <li>
                <h4>Suspension Repairs</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minus adipisci repellat eaque consectetur ducimus id earum consequuntur molestiae magnam! Ab fuga molestiae eos sequi.</p>
            </li>
            <li>
                <h4>Vehicle Servicing</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minus adipisci repellat eaque consectetur ducimus id earum consequuntur molestiae magnam! Ab fuga molestiae eos sequi.</p>
            </li>
            <li>
                <h4>Brake Work</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minus adipisci repellat eaque consectetur ducimus id earum consequuntur molestiae magnam! Ab fuga molestiae eos sequi.</p>
            </li>
            <li>
                <h4>Tyre Fitting and Balancing</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minus adipisci repellat eaque consectetur ducimus id earum consequuntur molestiae magnam! Ab fuga molestiae eos sequi.</p>
            </li>
            <li>
                <h4>Wheel Alignment</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minus adipisci repellat eaque consectetur ducimus id earum consequuntur molestiae magnam! Ab fuga molestiae eos sequi.</p>
            </li>
            <li>
                <h4>Tyre and Battery Sales</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minus adipisci repellat eaque consectetur ducimus id earum consequuntur molestiae magnam! Ab fuga molestiae eos sequi.</p>
            </li>
        </ul>
    </section> -->

    <section class="contact">
        <h3 class="title">Learn More</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti fuga necessitatibus ipsa excepturi fugit minima possimus officia repellendus asperiores soluta? Accusantium, pariatur sapiente error ducimus totam veritatis. Recusandae, praesentium ex.</p>
        <hr>
        <p>Contact: <strong>Langton Madondo</strong></p>
        <p><i class="fa fa-phone"></i> Cell: <strong>+263 776 783 490</strong></p>
    </section>

<%- include("partials/footer")%>