<%- include("partials/header")%>

<section class="products">
    
	<div class="notes">
		<div>
			<h2 class="heading">Buy Tyres</h2>
			<p>We stock a wide range of reliable and affordable trusted tyre brands including Dunlop, Durun, Goldway, Continental & Bridgestone.</p>
		</div>
		<div>
			<h2 class="heading">Buy Batteries</h3>
			<p>Buy your vehicle battery in-store and get it fitted on the spot.We stock batteries for most vehicles including heavy duty, 4x4 & commercial vehicles.</p>
		</div>
	</div>
    
	<h3 class="title">Tyres</h3>
    <hr>
	
	<div class="product-items">
		<div class="info">
			<img src="https://i.imgur.com/sTjbmgc.png">
			<p>175/70 R14</p>
			<p>Price: <strong class="price">$75</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/SHxERRf.png">
			<p>225/50 R17</p>
			<p>Price: <strong class="price">$85</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/lzEfhHW.png">
			<p>205/60 R16</p>
			<p>Price: <strong class="price">$140</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/b1dj0gr.png">
			<p>155R12C</p>
			<p>Price: <strong class="price">$60</strong></p>
		</div>
	</div>
	<div class="product-items">
		<div class="info">
			<img src="https://i.imgur.com/Oq8Dvx8.png">
			<p>265/65R17 D693</p>
			<p>Price: <strong class="price">$140</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/lgNcWwZ.png">
			<p>265/70R16</p>
			<p>Price: <strong class="price">$170</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/BY2nqcA.png">
			<p>245/75R15C</p>
			<p>Price: <strong class="price">$150</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/4xlz4Nh.png">
			<p>205/65R15</p>
			<p>Price: <strong class="price">$65</strong></p>
		</div>
	</div>
	<div class="product-items">
		<div class="info">
			<img src="https://i.imgur.com/GxaHv67.png">
			<p>245/70R16</p>
			<p>Price: <strong class="price">$165</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/3piBZbO.png">
			<p>265/65R17</p>
			<p>Price: <strong class="price">$145</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/DdZK93n.png">
			<p>205/55R16</p>
			<p>Price: <strong class="price">$85</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/sJcfhFO.png">
			<p>750R16</p>
			<p>Price: <strong class="price">$175</strong></p>
		</div>
	</div>
	
	<h3 class="title">Batteries</h3>
	<hr>
	
	<div class="product-items">
		<div class="info">
			<img src="https://i.imgur.com/oOdcTQR.png">
			<p>Willard 628</p>
			<p>Price: <strong class="price">$80</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/TMFeeiT.png">
			<p>Taurus 622</p>
			<p>Price: <strong class="price">$75</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/9Ys8LH5.png">
			<p>Willard 680</p>
			<p>Price: <strong class="price">$170</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/FrwQkpL.png">
			<p>Willard 631</p>
			<p>Price: <strong class="price">$65</strong></p>
		</div>
	</div>
	<div class="product-items">
		<div class="info">
			<img src="https://i.imgur.com/6LauRBC.png">
			<p>Taurus 683</p>
			<p>Price: <strong class="price">$180</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/X8vJMMS.png">
			<p>Taurus 628</p>
			<p>Price: <strong class="price">$80</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/A0Albve.png">
			<p>Willard 622</p>
			<p>Price: <strong class="price">$75</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/Tfczoqg.png">
			<p>Taurus 674</p>
			<p>Price: <strong class="price">$145</strong></p>
		</div>
	</div>
	<div class="product-items">
		<div class="info">
			<img src="https://i.imgur.com/HWUp73P.png">
			<p>Taurus 650</p>
			<p>Price: <strong class="price">$100</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/xmlMk8o.png">
			<p>Taurus 669</p>
			<p>Price: <strong class="price">$165</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/4w1chDa.png">
			<p>Willard 634</p>
			<p>Price: <strong class="price">$70</strong></p>
		</div>
		<div class="info">
			<img src="https://i.imgur.com/1Vr5c54.png">
			<p>Taurus 639</p>
			<p>Price: <strong class="price">$85</strong></p>
		</div>
	</div>
	
</section>


<%- include("partials/footer")%>