<%- include("partials/header")%>

<section class="products">
        <h3 class="title">Tyre Types</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio assumenda obcaecati voluptatem deserunt vel voluptates quidem accusantium! Fugit blanditiis reiciendis, at soluta necessitatibus esse tenetur doloribus sit aut nesciunt dolore?</p>
        <hr>

        <ul class="grid product-items">
            <li class="small">
				<img src="https://i.imgur.com/mzFOcw0.png">
                <h4>Passenger Vehicle Tyres</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </li>
			<li class="small">
				<img src="https://blobs.continental-tires.com/www8/servlet/blob/6366/5f2f4710cf70c80163e84b6bb878f4c1/conti4x4contact-tire-image-data.png">
                <h4>4x4 Tyres</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </li>
			<li class="small">
				<img src="https://i.imgur.com/THqCBLo.png">
                <h4>Offroad Tyres</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </li>
        </ul>
    </section>
<section class="brands">
        <h3 class='title'>Tyre Brands</h3>
        <hr>
        <ul>
            <img class="tyrelogos" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Dunlop_brand_logo.svg/1280px-Dunlop_brand_logo.svg.png">
            <img class="tyrelogos" src="https://i.imgur.com/tDxRqQz.png">
            <img class="tyrelogos" src="https://logos-download.com/wp-content/uploads/2016/05/Continental_logo_black.png">
            <img class="tyrelogos" id="durun" src="https://i.imgur.com/7wDbZyj.png">
        </ul>
    </section>

<section class="products">
        <h3 class="title">Service Packages</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio assumenda obcaecati voluptatem deserunt vel voluptates quidem accusantium! Fugit blanditiis reiciendis, at soluta necessitatibus esse tenetur doloribus sit aut nesciunt dolore?</p>
        <hr>

        <ul class="grid">
            <li>
				<img src="https://img.favpng.com/9/12/19/car-tire-nitto-guma-price-png-favpng-sHpxgnMGy5qYhRaHAJ0rAT7cL.jpg">
                <h4>Suspension Repairs</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </li>
			<li>
				<img src="https://cdn.imgbin.com/11/13/1/imgbin-tread-off-road-tire-car-formula-one-tyres-car-yvkSevw6d0zrf62Ay5S9jNUQT.jpg">
                <h4>Suspension Repairs</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </li>
        </ul>
    </section>


	<section class="brands">
        <h3 class='title'>Battery Brands</h3>
        <hr>
        <ul>
            <img class="batterylogos" src="https://willard.co.za/wp-content/uploads/2018/04/Willard-OG.png">
            <img class="batterylogos" src="https://taurusbatteries.co.bw/wp-content/uploads/2018/12/Taurus-Batteries-Logo-White-Outline-.png">
            <img class="batterylogos" src="https://www.zimbabweyp.com/img/zw/x/1540396414-17-exide-batteries.png">
        </ul>
    </section>

	<section class="products">
        <h3 class="title">Tyre Types</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio assumenda obcaecati voluptatem deserunt vel voluptates quidem accusantium! Fugit blanditiis reiciendis, at soluta necessitatibus esse tenetur doloribus sit aut nesciunt dolore?</p>
        <hr>

        <ul class="grid product-items">
            <li class="small">
				<img class="battery" src="https://i.imgur.com/YlcUxkq.jpg">
                <h4>Exide Battery</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </li>
			<li class="small">
				<img class="battery" src="https://i.imgur.com/OhCFvK6.jpg">
                <h4>Exide Battery</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </li>
        </ul>
    </section>

<%- include("partials/footer")%>