<%- include("partials/header")%>

<h1>Our Services</h1>

<section class="services">
	<div class="container">
		<div><img src="https://i.imgur.com/mSnXUmu.jpg"></div>
		<div class="content">
			<h4>3D Wheel Alignment and Balancing</h4>

			<p>Incorrect alignment can result in rapid amd regular tyre wear and can even affect the handling and safety of the vehicle. Our 3D wheel alignment allows our mechanics to perform the most precise wheel alignment on all types of cars. Your safety is our top priority so we offer free wheel alignment after every purchase of a set of tyres at any of our outlets.</p>


		</div>
	</div>
	
	<hr>
	
	<div>
		<h2>Other Services</h2>
		<div class="other-services">
			<div>
				<img src="https://i.imgur.com/Kk5i6BU.jpg" class="service-pics">
				<h4>Car Service</h4>
				<p>Avoid costly repairs and service your car on time.</p>
			</div>
			<div>
				<img src="https://i.imgur.com/7prZy2q.jpg" class="service-pics">
				<h4>Suspension Service</h4>
				<p>An ineffective suspension system will decrease your control over a vehicle,so when it is damaged it frequently leads to dangerous accidents.</p>
			</div>
			<div>
				<img src="https://i.imgur.com/Ob2gpXX.jpg" class="service-pics">
				<h4>Spot Repairs</h4>
				<p>Our proffesional staff is ready to repair your vehicle in-store.</p>
			</div>
			<div>
				<img src="https://i.imgur.com/nM53awx.jpg" class="service-pics">
				<h4>Product Support</h4>
				<p>We provide product support for the most reliable and affordable brands</p>
			</div>
		</div>
	</div>
	
</section>

<%- include("partials/footer")%>