<%- include("partials/header")%>

<section class="services">
        <h3 class="title">Services:</h3>
        <p>Some of the services offered are:</p>
        <hr>

        <ul class="grid">
            <li>
                <h4 style="margin-left: 115px;">Wheel Alignment and Balancing</h4>
                <p>We fit, balance and align all vehicles aswell as tyre hot patch repairs for side wall damage</p>
            </li>
            <li class="small" style="background-image: url(https://www.mytyreshop.com/wp-content/uploads/2019/05/wheel-balance.jpg);"></li>
            <li class="small" style="background-image: url(https://loreblogs.com/wp-content/uploads/2020/01/Car-Needs-Suspension-Repair.jpg);"></li>
            <li>
                <h4 style="margin-left: 115px;">Suspension Repairs</h4>
                <p>Suspension checks, repairs and replacement.</p>
            </li>
			<li>
                <h4 style="margin-left: 115px;">Battery Sales</h4>
                <p>Battery sales in Willard , Exide and Taurus brands.</p>
            </li>
            <li class="small" style="background-image: url(https://sc01.alicdn.com/kf/HTB1._cGchiH3KVjSZPfq6xBiVXaT.jpg_350x350.jpg);"></li>
            
            <li class="small" style="background-image: url(https://martin-bike.com/wp-content/uploads/2020/03/Car-Servicing-1280x720.jpg);"></li>
            
            
            <li>
                <h4 style="margin-left: 115px;">Servicing Vehicles</h4>
                <p>Servicing of vehicles from simple oil changes to Major Services.</p>
            </li>
        	<li>
                <h4 style="margin-left: 115px;">Tyre Sales</h4>
                <p> Tyre sales on premium and mid range brands being Continental , Bridgestone, Dunlop and Durun.</p>
            </li>
            
            <li class="small" style="background-image: url(https://www.onebusiness.co.zw/files/07-2020/ad96552/0-00-tyre-sales-524040464_large.PNG);"></li>
            
        </ul>
    </section>

<%- include("partials/footer")%>