/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: #555;
}

ul, nav {
    list-style: none;
}

/* a {
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
} */



/* a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #078a2e;
    opacity: 1;
} */

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}

nav.navbar {
	height: 60px;
	background-color: rgba(0,0,0,0.7);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 60px;
	margin-top: 80px;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    width: 300px;
    height: 3px;
    background-color: #078a2e;
    border: 0;
	margin-top: 40px;
	margin-bottom: 80px;
}

section h3.title {
    text-transform: capitalize;
    font: bold 32px "Roboto", sans-serif;
	margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: 800px) {
    section {
        padding: 60px 20px;
    }
}

a:hover {
    opacity: 1;
}

/* Header Styles */

nav .nav-links a {
	color: #000;
}

.burger div.line1,
.burger div.line2,
.burger div.line3 {
	background-color: #000;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

@media (max-width: 800px) {
    header {
        padding: 10px 20px;
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }
}

/* Hero Styles */

.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    z-index: -1;
    background-color: #80db8b;
}

.hero #logo{
    width: 300px;
    height: 150px;
}

.hero h3 {
    font: normal 28px "Roboto", sans-serif;
    margin-bottom: 40px;
}

.hero a.btn {
    padding: 20px 46px;
}

.hero-content-area {
    opacity: 0;
    margin-bottom: 100px;
    animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

@media (max-width: 800px) {
    .hero {
        min-height: 600px;
    }

    .hero h1 {
        font-size: 48px;
    }

    .hero h3 {
        font-size: 24px;
    }
	.hero a.btn {
        padding: 15px 40px;
    }
}

/* Packages Section */
/* 
.packages .grid li {
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
}

.packages .grid li h4 {
    font-size: 30px;
    margin: 25px 0;
}

@media (max-width: 800px) {
    .packages .grid li {
        flex-basis: 100%;
        padding: 20px;
    }
} */

/* Footer Section */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-left: 16px;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.6;
    align-self: center;
}

.tagline {
	font-family: Brush Script MT;
	color: white;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-size: 36px;
}

@media (max-width: 1100px) {
    footer {
        flex-direction: column;
    }

    footer p {
        text-align: center;
        margin-bottom: 20px;
    }

    footer ul li {
        margin: 0 8px;
    }
}