.contact .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact .container div {
	padding: 50px;
}
.contact .container div img {
	width: 250px;
	border-radius: 15px;
}

.contact .container div p {
	padding: 0;
	text-align: left;
}