.contact .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact .container div {
	padding: 50px;
}
.contact .container div img {
	width: 250px;
	border-radius: 15px;
}

.contact .container div p {
	padding: 20px 0;
	text-align: left;
	line-height: 2.5;
}

@media screen and (max-width: 800px) {
	.contact .container {
		flex-direction: column;
		justify-content: center;
		align-items: space-between;
	}
	
	.contact .container div p {
		padding: 30px 0;
		text-align: center;
		line-height: 2.5;
	}
	
	.contact .container div {
		padding: 20px;
	}
}