.home .grid li {
    height: 350px;
    padding: 20px;
    flex-basis: 50%;
	line-height: 2;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

.home .grid li.small {
    flex-basis: 50%;
} 

.home .grid h5 {
	font-size: 25px;	
}

.home .grid p {
	width: 400px;
	height: 400px;
}
@media (max-width: 1100px) {
    .home .grid li.small,
    .home .grid li.large {
        flex-basis: 50%;
    }
}

@media (max-width: 800px) {
    .home .grid li.small,
    .home .grid li.large {
        flex-basis: 100%;
    }
}