h1 {
	background-image: url("https://i.imgur.com/Ob2gpXX.jpg");
	background-position: center;
	background-size: cover;
	text-transform: uppercase;
	color: #fff;
	font-size: 60px;
	/* border-top: 3px solid black;
	border-bottom: 3px solid black; */
	padding: 50px 0;
	margin: 50px;
	margin-left: 0;
	width: 100%;
	text-align: center;
}

.services .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.services .container .content h4 {
	padding-left: 20px;
	font-size: 28px;
	color: #228D22;
	margin-bottom: 20px;
}
.services .container .content p {
	text-align: left;
}

.services .container div {
	width: 50%;
	text-align: left;
	margin: 0 20px;
}

.services .container div img {
	width: 100%;
}

.services .other-services {
	display: flex;
	justify-content: space-around;
	align-items: start;
}

.services .other-services div {
	flex-basis: 20%;
}
.services .other-services .service-pics {
	width: 250px;
}

.services div h2 {
	padding-bottom: 40px;
	color: #228D22;
}

.services .other-services div img {
	border-radius: 15px;
}
.services .other-services div h4 {
	font-size: 24px;
	font-weight: normal;
	color: #128D12;
}

.services .other-services div p {
	text-align: left;
	padding-left: 0;
}

.services .other-services div:hover {
	opacity: 0.7;
}

.services .grid li {
    height: 350px;
    padding: 20px;
    flex-basis: 50%;
	line-height: 2;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

.services .grid li.small {
    flex-basis: 50%;
} 

.services .grid h5 {
	font-size: 25px;	
}

.services .grid p {
	width: 400px;
	height: 400px;
}

@media (max-width: 1100px) {
    .services .grid li.small,
    .services .grid li.large {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 800px) {
	h1 {
		padding: 20px 0;
	}
	.services .container {
		flex-direction: column;
		justify-content: center;
		align-items: space-between;
	}
	
	.services .container div {
		width: 100%;
	}
	
	.services .container div img {
		margin-bottom: 30px;
	}
	
	.services .other-services {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	
	.services .other-services div {
		padding: 30px 0;
		flex-basis: 80%;
	}
	
	.services div h2 {
		text-align: center;
	}
}