/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: #555;
}

ul, nav {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #078a2e;
    opacity: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 80px;
}

/* section:not(.hero):nth-child(even) {
    background-color: #f5f5f5;
} */

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    width: 300px;
    height: 3px;
    background-color: #078a2e;
    border: 0;
	margin-top: 80px;
	margin-bottom: 80px;
}

section h3.title {
    text-transform: capitalize;
    font: bold 32px "Roboto", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: 800px) {
    section {
        padding: 200px 20px;
    }
}

a:hover {
    opacity: 1;
}

/* Header Styles */

.zimfit {
    width: 200px;
	padding-top: 25px;
}

/* header {
	background-color: #f5f5f5;
} */

nav .nav-links a {
	color: #000;
}

.burger div.line1,
.burger div.line2,
.burger div.line3 {
	background-color: #000;
}
/* header li a {
	color: #fff
}
header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    color: #fff
} */

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

/* header h2 {
    font-family: 'Nanum Gothic', sans-serif;
}

header nav {
    display: flex;
    margin-right: -15px;
}

header nav li {
    margin: 0 15px;
} */

@media (max-width: 800px) {
    header {
        padding: 10px 20px;
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }
}

/* Hero Styles */

.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    z-index: -1;
    background-color: #80db8b;
}

.hero #logo{
    width: 300px;
    height: 150px;
}

.hero h3 {
    font: normal 28px "Roboto", sans-serif;
    margin-bottom: 40px;
}

.hero a.btn {
    padding: 20px 46px;
}

.hero-content-area {
    opacity: 0;
    margin-bottom: 100px;
    animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

@media (max-width: 800px) {
    .hero {
        min-height: 600px;
    }

    .hero h1 {
        font-size: 48px;
    }

    .hero h3 {
        font-size: 24px;
    }
	.hero a.btn {
        padding: 15px 40px;
    }
}

/* Services Section */

h1 {
	text-transform: uppercase;
	color: #fff;
	background-color: #228D22;
	font-size: 52px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding: 20px 0;
	margin: 50px;
	margin-left: 0;
	width: 100%;
	text-align: center;
}

.services .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.services .container .content h4 {
	padding-left: 20px;
	font-size: 28px;
	color: #228D22;
	margin-bottom: 20px;
}
.services .container .content p {
	text-align: left;
}

.services .container div {
	width: 50%;
	text-align: left;
	margin: 0 20px;
}

.services .container div img {
	width: 100%;
}

.services .other-services {
	display: flex;
	justify-content: space-around;
	align-items: start;
}

.services .other-services div {
	flex-basis: 20%;
}
.services .other-services .service-pics {
	width: 250px;
}

.services div h2 {
	padding-bottom: 40px;
	color: #228D22;
}

.services .other-services div img {
	border-radius: 15px;
}
.services .other-services div h4 {
	font-size: 24px;
	font-weight: normal;
	color: #128D12;
}

.services .other-services div p {
	text-align: left;
	padding-left: 0;
}

.services .other-services div:hover {
	opacity: 0.7;
}

.services .grid li {
    height: 350px;
    padding: 20px;
    flex-basis: 50%;
	line-height: 2;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

.services .grid li.small {
    flex-basis: 50%;
} 

.services .grid h5 {
	font-size: 25px;	
}

.services .grid p {
	width: 400px;
	height: 400px;
}

@media (max-width: 1100px) {
    .services .grid li.small,
    .services .grid li.large {
        flex-basis: 50%;
    }
}

@media (max-width: 800px) {
    .services .grid li.small,
    .services .grid li.large {
        flex-basis: 100%;
    }
}

/* Packages Section */

.packages .grid li {
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
}

.packages .grid li h4 {
    font-size: 30px;
    margin: 25px 0;
}

@media (max-width: 800px) {
    .packages .grid li {
        flex-basis: 100%;
        padding: 20px;
    }
}
/* Contact Section */

.contact p i{
    color: #05a127
}

@media (max-width: 1000px) {
    .contact form input {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
}

/* Brands Section */

.brands ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tyrelogos {
	height: 150px;
	width: 425px;
	padding: 15px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.tyrelogos#durun {
	height: 275px;
}

.batterylogos {
	height: 220px;
	width: 425px;
	padding: 15px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

/* Footer Section */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #015c15;
    color: #fff;
    padding: 20px 0;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-left: 16px;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.6;
    align-self: center;
}

.tagline {
	font-family: Brush Script MT;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-size: 36px;
}

@media (max-width: 1100px) {
    footer {
        flex-direction: column;
    }

    footer p {
        text-align: center;
        margin-bottom: 20px;
    }

    footer ul li {
        margin: 0 8px;
    }
}

/*  Product Section */
.products .notes{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.products .notes div {
	width: 40%;
}

.products .notes div h2.heading {
	color: #228D22;
	text-transform: uppercase;
	font: bold 32px "Roboto", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}
.products .grid li {
	/* width: 30%; */
	padding: 20px;
	text-align: center;
}

.tyre-display {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.tyre-display .info {
	flex-basis: 30%;
	align-self: center;
	margin: 10px 50px;
	
}

.tyre-display .info:hover {
	border: 1px solid rgba(0,0,0,0.3);
}

.tyre-display .info img {
	padding-top:10px;
	height: 190px;
	width: 170px;
}

.tyre-display .info p {
	margin: 0;
	text-align: left;
}

.products .grid li:hover {
	border: 1px solid rgba(0,0,0,.2);
}

.products .grid li img{
	width: 150px;
	height: 200px;
	margin: 15px;
}

.products .grid .battery {
	width: 225px;
}

p strong.price {
	color: red;
}
@media max-width(800px) {
	.product-items{
		flex-direction: column;
		align-items: center;
	}
	.product-items {
		width: 80%
	}
	.tyre-display {
		flex-direction: column;
		align-items: center;
	}
}

div.logos img {
	padding-top: 450px;
	width: 200px;
}

/* Contact Section */

.contact .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact .container div {
	padding: 50px;
}
.contact .container div img {
	width: 250px;
	border-radius: 15px;
}

.contact .container div p {
	padding: 0;
	text-align: left;
}