#header {
	/* background: url(https://images.unsplash.com/photo-1542377281-73d08e3a10aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) center center / cover no-repeat; */
	background-color: #4f4545;
}

body {
	background: url('https://wallpapercave.com/wp/wp2099572.jpg') center center/ cover no-repeat;
}
body .jumbotron {
	color: white;
	background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
	
}